__pycache__/
*.py[cod]
*.sqlite3
.env
media/
logs/*.log
staticfiles/
.venv/
venv/
*.egg-info/
.DS_Store
seed.py
text.txt
text.HTML
*.zip
emzdmezon.rar
d.bat
r.bat
mi.bat
SHOW
v.bat
CustomPermissions.py